<!DOCTYPE html>
<html lang="en">
<title>晨曦微光个人博客</title>
<head>
    <meta charset="UTF-8">
    <title>博客登录</title>
</head>
<style>
.header {
  padding: 30px;
  text-align: center;
  background: green;
}
.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<body>
<div class="header">
    <h1 style="text-align: center">登录页面</h1>
</div>
<div style="margin: 15% 40%;">
<form method="post" action="/singin/">
    {% if message %}
    <div style="text-align: center" class="alert alert-warning">{{ message }}</div>
    {% endif %}

    {% csrf_token %}
用户名: <input type="text" name="name"><br>
用户密码: <input type="text" name="password"><br>
    {{ form.captcha }}

<div style="text-align: center"><button type="submit" class="button" >登录</button></div>
</form>
</div>
</body>
</html>